---
layout: default
body_class: "page-template-contact-page page-template-contact-page-php page-id-8 page page-template no-js"
permalink: /contact/
---

{% include header.html %}

<div id="main" class="main">
    <div id="main-content" class="main-content" page-type="contact">

        <!-- Background container -->
        <div class="contact-background gmap"></div>
        <!-- Contact info -->
        <div class="contact-page">
            <div class="info">
                <div class="title">LET'S KEEP IN TOUCH</div>
                <div class="separator"></div>
                <div class="subtitle">MY CONTACTS:</div>
                <div class="address"></div>
                <div class="info-wrap">
                    <div class="email">david@davidavs.com</div>
                    <div class="skype">Skype: avsd05</div>
                    <div class="phone">+447788560909 (UK)</div>
                    <div class="phone">+995577498017 (GE)</div>
                    <div class="website">http://davidavs.com</div>
                    <div class="other-info"></div>
                </div>
            </div>
<!--
            <div class="contact-form">
                no-form            </div>
-->
        </div>
    </div>
</div>

{% include footer.html %}

<script type='text/javascript'>
/* <![CDATA[ */
var param = {"type":"contact","pageid":"14","contactBg":"map","contactBgImage":"","contactBgMap":{"style":"dark","zoom":"4","address":"Tbilisi, Georgia","latitude":"41.7167","longitude":"44.7833","marker":"https:\/\/www.ucarecdn.com\/788df926-cafc-4c42-9aa9-bbfa4ebd0f9d\/-\/crop\/200x200\/300,250\/-\/preview\/40x40\/yellow.png"}};
/* ]]> */
</script>
<script type="text/javascript" src="{{ '/js/contact.js' | prepend: site.baseurl }}?ver=1.4"></script>
