---
layout: default
body_class: "page page-id-20 page-template page-template-resume-page page-template-resume-page-php no-js"
permalink: /experience/
---

{% include header.html %}

    <div id="main-content" class="main-content" page-type="resume">
        <div class="max-container">
            <div class="resume">
                <div class="row">
                    <div class="toggle">

                        <!-- Experience Section -->
                                                    <div class="tab closed">
                                <div class="top-separator"></div>
                                <div class="header clearfix">
                                    <div class="tab-button"><span class="icon-minus"></span></div>
                                    <h4 class="title">Experience</h4>
                                </div>
                                <div class="body">
                                                                            <div class="experience-counter clearfix">
                                            <div class="counter">12+</div>
                                            <h3 class="heading">YEARS<br/>EXPERIENCE</h3>
                                        </div>
                                                                        <div class="experience">
                                        
        <div class="item clearfix">
            <div class="head">
                <div class="title">Web Development</div>
                <div class="separator"></div>
                <div class="duration">Back-end and Front-end</div>
            </div>
            <div class="glyph icon-display"></div>
            <p class="description">Software Development is the main focus in my professional career. For the past 5 years I am mostly doing web-development with Python, Django and HTML5+JS stack, using PostgreSQL, MySQL or MongoDB for handling with data, Apache or nginx as a web server and AWS or Softlayer for hosting.

<br><br>

In past I have been working with C++, VB/VBA, LaTeX,  C#, Java, Solr and Oracle PL/SQL. I used to experiment with SQLAlchemy, Matplotlib, Flask, Buildout, AsciiDoc, Graphviz and other technologies.

<br><br>

I code in Vim under Debian VM, and prefer Git for version control.</p>
        </div>
        <div class="item-separator"></div>


        <div class="item clearfix">
            <div class="head">
                <div class="title">Entrepreneurship</div>
                <div class="separator"></div>
                <div class="duration">Value Creation via Innovations</div>
            </div>
            <div class="glyph icon-bulb"></div>
            <p class="description">In order to survive and succeed, a business needs to develop creative ideas all the time, choose the most viable ones and convert them to value.

<br><br>

It takes time to develop a skill of creating value from the new ideas. I use advanced frameworks and tools for searching innovative ideas and developing them to the stage where they can effectively contribute to value creation. I believe that idea development is a collaborative process that requires fostering creativity to make it successful.</p>
        </div>
        <div class="item-separator"></div>


        <div class="item clearfix">
            <div class="head">
                <div class="title">Business Development</div>
                <div class="separator"></div>
                <div class="duration">Strategy and Finance</div>
            </div>
            <div class="glyph icon-banknote"></div>
            <p class="description">Technical skills make sense only if they contribute to creating value and generating profit. My knowledge of business helps to make sure the skills are used appropriately. It comes from my experience of working with B2B and B2C startups, supported by theory and relevant business cases learned from the EMBA program.

<br><br>

Strategy and finance are my strong points. I am good at business modelling, analytics and financial projections.</p>
        </div>
        <div class="item-separator"></div>


        <div class="item clearfix">
            <div class="head">
                <div class="title">Leadership</div>
                <div class="separator"></div>
                <div class="duration">Motivation and Support</div>
            </div>
            <div class="glyph icon-user"></div>
            <p class="description">I have experience in team building and influencing positive corporate culture. I lead by example, providing high level of support and adding sufficient amount of challenge to build high motivation.</p>
        </div>
        <div class="item-separator"></div>

                                    </div>
                                </div>

                            </div>
                        
                        <!-- Skill Section -->
                        
                        <!-- Education Section -->
                        
                        <!-- Testimonial Section -->
                                                    <div class="tab closed">
                                <div class="top-separator"></div>
                                <div class="header clearfix">
                                    <div class="tab-button"><span class="icon-minus"></span></div>
                                    <h4 class="title">Testimonial</h4>
                                </div>
                                <div class="body">
                                    <div class="testimonial">
                                        
        <div class="item clearfix">
            <div class="testimonial-image"><img class="image" src="http://www.ucarecdn.com/75470206-d24f-4f5e-a663-3369fe924f02/-/crop/132x132/8,10/s.jpg" alt="qouter image" /></div>
            <div class="head">
                <div class="title">SAM CLIFT</div>
                <div class="subtitle">PYTHON DEVELOPER</div>
                <span class="glyph icon-left-quote hidden-desktop hidden-tablet mobile"></span>
            </div>
            <p class="description">
                <span class="glyph icon-left-quote hidden-phone"></span>
                David has an amazing knowledge of Django and Python (and various other things too!) that he put to use to help build the Cloudfind Web App. He is a great team leader too, helping to create a great environment where developers learn and collaborate with each other.            </p>
        </div>
        <div class="item-separator"></div>


        <div class="item clearfix">
            <div class="testimonial-image"><img class="image" src="http://www.ucarecdn.com/339f84ba-53e0-437b-8ad7-bfe11c05a8bf/-/crop/300x300/28,5/-/resize/132x/j.jpg" alt="qouter image" /></div>
            <div class="head">
                <div class="title">JULIAN RATCLIFFE</div>
                <div class="subtitle">INVESTMENT PROFESSIONAL</div>
                <span class="glyph icon-left-quote hidden-desktop hidden-tablet mobile"></span>
            </div>
            <p class="description">
                <span class="glyph icon-left-quote hidden-phone"></span>
                David is a highly experienced developer with a fantastic work ethic, which is supported by excellent technical skills, a deep industry knowledge and a strong ability to plan precisely and deliver on time.            </p>
        </div>
        <div class="item-separator"></div>


        <div class="item clearfix">
            <div class="testimonial-image"><img class="image" src="http://www.ucarecdn.com/260975e3-6bc6-414d-b667-0602e4395e73/-/crop/300x300/20,0/-/resize/132x/e.jpg" alt="qouter image" /></div>
            <div class="head">
                <div class="title">EIKE POST</div>
                <div class="subtitle">ENTREPRENEUR</div>
                <span class="glyph icon-left-quote hidden-desktop hidden-tablet mobile"></span>
            </div>
            <p class="description">
                <span class="glyph icon-left-quote hidden-phone"></span>
                I worked with David since 2009! He was such a good and reliable developer that for our next company, SocialTRM, I asked him to be the technical director! While working on SocialTRM, as well as before, David showed a great sense of commitment and responsibility finishing off tasks. 
In addition, David has great people skills, and was liked by everyone in the team. When there were some conflicts with partners or even within team, due to his great people skills, David was the one who helped me resolve them with his great diplomatic skills!            </p>
        </div>
        <div class="item-separator"></div>

                                    </div>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>

        </div>        
    </div>
</div>


{% include footer.html %}

<script type='text/javascript'>
/* <![CDATA[ */
var param = {"type":"contact","pageid":"14","contactBg":"map","contactBgImage":"","contactBgMap":{"style":"dark","zoom":"4","address":"Tbilisi, Georgia","latitude":"41.7167","longitude":"44.7833","marker":"http:\/\/www.ucarecdn.com\/788df926-cafc-4c42-9aa9-bbfa4ebd0f9d\/-\/crop\/200x200\/300,250\/-\/preview\/40x40\/yellow.png"}};
/* ]]> */
</script>
<script type="text/javascript" src="{{ '/js/contact.js' | prepend: site.baseurl }}?ver=1.4"></script>
