---
layout: default
body_class: "home page-template-home-page page-template-home-page-php page-id-8 page page-template no-js"
---

{% include header.html %}

<div id="main" class="main">
    <div id="main-content" class="main-content" page-type="home">

        <!-- Background for tablet and mobile -->
        <div class="home-background"></div>

        <!-- Home Overlay -->
        <div class="overlay" style=" background-image:url({{ '/img/1.png' | prepend: site.baseurl }}); background-color:rgba(255, 255, 255 , 0.3 );"></div>

        <div class="max-container">
            <div class="row">
                <div class="span9">
                    <!-- Biography -->
                    <div class="biography">
                                                <div class="image">
                                                        <img src="{{ '/img/davidavs.jpg' | prepend: site.baseurl }}" alt="Avatar" />
                        </div>
                                                <div class="content ">
                            <h5 class="title">DAVID AVSAJANISHVILI</h5>
                                                        <div class="separator"></div>
                                                        <div class="bio">
                            <p style="text-align: left;">I am a professional <strong>Software Developer</strong> with experience of working in different industries for 12+ years, including Telecom, ERP, Commercial Banking, Business and Technology SaaS, and online B2C services. For the past 5 years I have acted as a <strong>Technology Entrepreneur</strong>, helping tech startups to succeed. I have been working in different roles, both as a co-founder and as an external consultant.</p>
                            <ul>
                                <li><strong>Executive MBA (2015)</strong> - Hult International Business School (London, UK)</li>
                                <li><strong>BSc Computer Science (2005)</strong> - Georgian Technical University (Tbilisi, GE)</li>
                            </ul>
                            </div>
                                                    </div>
                    </div>
                </div>
<!--
<div class="span3">
  <div class="sidebar widget-area border-left no-widgets">
    <div id="px_twitter-3" class="widget widget_px_twitter">
      <h4 class="widget-title">Tweets</h4>
      <hr class="hr-small">
      <ul class="twitter-recent-list">
      </ul>
    </div>
  </div>
</div>
-->

            </div>
        </div>
    </div>
</div>

{% include footer.html %}
