<footer class="open">
    <!-- Footer Switch -->
    <a href="#" class="footer-switch"><span></span></a>
    <!-- Footer Content -->
    <div class="content">
        <!-- Social Icons -->
        <ul class="social-icons clearfix">
                        <li><a href="https://www.facebook.com/d.avsajanishvili"><span class="icon-facebook5"></span></a></li>
                        <li><a href="http://twitter.com/davsajanishvili"><span class="icon-twitter5 "></span></a></li>
                        <li><a href="https://vimeo.com/user16406170"><span class="icon-vimeo2"></span></a></li>
                        <li><a href="http://lnkd.in/YGDHRZ"><span class="icon-linkedin"></span></a></li>
                        <li><a href="https://github.com/avsd"><span class="icon-github5"></span></a></li>
                        <li><a href="skype:avsd05?chat"><span class="icon-skype"></span></a></li>
            
        </ul>
        <!-- Copyright -->
        <p class="copyright">  </p>
    </div>
</footer>
<!--end of wrap element-->
</div>
<!--end of layout element-->
</div>
    <!-- Theme Hook -->
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&#038;language=en&#038;ver=1.4"></script>
<script type='text/javascript'>
/* <![CDATA[ */
var appdata = {"gkey":"","path":{"img":"\/img","js":"\/js"},"extrajs":""};
/* ]]> */
</script>
<script type="text/javascript" src="{{ '/js/allscripts.js' | prepend: site.baseurl }}?ver=1.4"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9991748-4']);
  _gaq.push(['_setDomainName', 'davidavs.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

