<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="gC852NCGJmxoHhIIhNjJ04le3GODTPGxram_qLc5Auk" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" id="fonts-css" type="text/css" media="all" 
        href="http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%7COswald%3A400&#038;ver=4.1"/>
    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | prepend: site.baseurl }}?ver=1.4" id="style-css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/style-inline.css' | prepend: site.baseurl }}?ver=1.4" id="style-inline-css" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/pluginstyle.css' | prepend: site.baseurl }}?ver=1.4" id="plugins-style-css" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/responsive.css' | prepend: site.baseurl }}?ver=1.4" id="responsive-style-css" />

    <script type="text/javascript" src="{{ '/libs/jquery.js' | prepend: site.baseurl }}?ver=1.11.1"></script>
    <script type="text/javascript" src="{{ '/libs/jquery-migrate.min.js' | prepend: site.baseurl }}?ver=1.2.1"></script>
</head>
