  <script type="text/javascript">
    document.body.className=document.body.className.replace('no-js','/js-enabled');
  </script>

    <nav class="navigation-mobile">
      <span class=" icon-cancel3 navigation-close"></span>
      <ul class="menu" id="menu-promotion"> {% include nav.html %} </ul>
    </nav>

    <div class="layout animation">
    <div class="wrap">

        <!-- Page Loader -->
        <div id="loader" class="page-loader hidden-tablet hidden-phone">
            <div class="text">
                <div  class="job-title"></div>
                <div data-content="" class="name">David Avs</div>
            </div>
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>

        <!--Header-->
        <header class="first">

    <a class="navigation-button hidden-desktop visible-tablet" href="#">
        <span class="icon-paragraph-justify"></span>
    </a>

    <div class="max-container clearfix">
        
        <div class="logo">
            <a href="/">
                
                    <div class="job-title">Web Developer &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Toptal Member &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; EMBA</div>
                    <div class="name">David Avs</div>
                    <div class="name-small">David Avs</div>

                            </a>
        </div>

        <p style="color: red; background-color: lightgray; display: inline-block;">
          LLC "David Avs" <a href="http://bs.napr.gov.ge/GetBlob?pid=400&bid=boVlyOwlsX3qmYsntmLmFLCfaKr2OEcOgkUPxvcjz[dkYDin[Xxpjm3hkJBUuyvJ">id: 400121863</a>;
          i/m "David Avsajanishvili" <a href="http://bs.napr.gov.ge/GetBlob?pid=400&bid=boVlyOwlsX3qmYsntmLmFA42iMzwwQv045[1sH7febxDRyF6PJ1sQCfDMqGw8iw[">id: 01019057569</a>;
          <a href="https://www.toptal.com/resume/david-avsajanishvili#amass-only-credible-hackers-now">TopTal</a>
        </p>

        <nav class="navigation hidden-tablet hidden-phone">
            <ul id="menu-promotion-1" class="clearfix"> {% include nav.html %} </ul>
        </nav>

    </div>

</header>        <!--End Header-->
