
      <li class=
      "menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-168"> 
        <a href="/" menu="open"><span class=
        "title">HOME PAGE</span><span class="subtitle">ABOUT ME</span></a>
      </li>

      <li class=
      "menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-390" >
        <a href="/experience/" menu="open"><span class=
        "title">EXPERIENCE</span><span class="subtitle">SKILLS AND TESTIMONIALS</span></a>
      </li>

      <li class="
      menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-353">
        <a href="http://blog.davidavs.com"><span class=
        "title">BLOG</span><span class="subtitle">ABOUT STARTUPS</span></a>
      </li>

      <li class=
      "menu-item menu-item-type-custom menu-item-object-custom"
      id="menu-item-357">
        <a href="https://uk.linkedin.com/in/davidavs"><span class=
        "title">RESUME</span><span class="subtitle">ON LINKEDIN</span></a>
      </li>

      <li class=
      "menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-169">
        <a href="/contact/"><span class=
        "title">CONTACT</span><span class="subtitle">LET’S TALK</span></a>
      </li>
