
      <li class=
      "menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-168"> 
        <a href="/" menu="open"><span class=
        "title">HOME PAGE</span><span class="subtitle">ABOUT ME</span></a>
      </li>

      <li class=
      "menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-390" >
        <a href="/experience/" menu="open"><span class=
        "title">EXPERIENCE</span><span class="subtitle">SKILLS AND TESTIMONIALS</span></a>
      </li>

      <li class=
      "menu-item menu-item-type-custom menu-item-object-custom"
      id="menu-item-357">
        <a href="https://www.toptal.com/resume/david-avsajanishvili#amass-only-credible-hackers-now" target="_blank"><span class=
        "title">RESUME</span><span class="subtitle">ON TOPTAL (THE TOP 3% NETWORK)</span></a>
      </li>

      <li class="
      menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-353">
        <a href="https://medium.com/@davidavs"><span class=
        "title">BLOG</span><span class="subtitle">ON @MEDIUM</span></a>
      </li>

      <li class=
      "menu-item menu-item-type-custom menu-item-object-custom"
      id="menu-item-357">
        <a href="https://uk.linkedin.com/in/davidavs" target="_blank"><span class=
        "title">PROFILE</span><span class="subtitle">ON LINKEDIN</span></a>
      </li>

      <li class=
      "menu-item menu-item-type-post_type menu-item-object-page"
      id="menu-item-169">
        <a href="/contact/"><span class=
        "title">CONTACT</span><span class="subtitle">LET’S TALK</span></a>
      </li>
